.login-container {
  background-image: url('/assets/img/msnbg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}


h3 {
  color: #939CA5;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.link-session {
  color: #B4C7D5!important;

}


p {
  font-size: 14px;
}
